<%- include("./partials/header") %>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo App</a>
    </div>
</nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" id="" class="form-control" placeholder="Enter Todo">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>

    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
            <li class="list-group-item d-flex justify-content-between">
                <%= todos.todo %>
                <div>
                    <!-- Bouton pour modifier la tâche -->
                    <button class="btn btn-warning btn-sm" onclick="document.getElementById('edit-form-<%= todos._id %>').style.display='block'">Edit</button>
                    <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm">Delete</a>
                </div>

                <!-- Formulaire caché pour modifier la tâche -->
                <div id="edit-form-<%= todos._id %>" style="display:none;">
                    <form action="/edit/todo/<%= todos._id %>" method="POST" class="d-flex mt-2">
                        <input type="text" name="todo" value="<%= todos.todo %>" class="form-control" required>
                        <input type="submit" value="Update" class="btn btn-md btn-success mx-2">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>

<%- include("./partials/footer") %>